<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MisriCal Test Suite" verbose="1" prallel="true" thread-count="10">
  <test name="Functional">
    <groups>
      <run>
        <include name="unit" />
        <include name="functional" />
      </run>
    </groups>
    <classes>
      <class name="org.misrical.salaat.SalaatCalculatorTest" />
      <class name="org.misrical.util.CalculationsTest" />
    </classes>
  </test>
  <!-- We don't have anything for integration testing yet. -->
  <!--
    <test name="Integration">
    <groups>
    <run>
    <include name="functional" />
    <include name="integration" />
    </run>
    </groups>
    </test>
  -->
</suite>